langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
ipykernel
langchain-text-splitters
fastapi
uvicorn
celery
redis
pymupdf
python-multipart
weaviate-client